html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main-block {
    width: 100%;
    height: 100%;
    padding: 17vh 20px 0 20px;
    background: -webkit-gradient(linear, left bottom, left top, from(#cff0f9), color-stop(30%, #2cbbf7));
    background: -o-linear-gradient(bottom, #cff0f9, #2cbbf7 30%);
    background: linear-gradient(to top, #cff0f9, #2cbbf7 30%);
    position: relative;
}

.main-block::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 29%;
    left: 0;
    background: url(https://roadio-web-resources.s3-us-west-2.amazonaws.com/images/letters.png) 0 0 no-repeat;
    background-size: 100%;
    z-index: 200;
}

.score-counter {
    position: absolute;
    width: 69px;
    height: 69px;
    top: 30px;
    right: 29px;
    border: solid 6.8px #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.score-counter__plus {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -9px;
    left: -6px;
    background-color: #fff;
    border-radius: 50%;
}

.score-counter__plus div:first-child {
    position: absolute;
    width: 4px;
    height: 12px;
    top: 4px;
    left: 8px;
    background-color: #2cbbf7;
}

.score-counter__plus div:last-child {
    position: absolute;
    width: 4px;
    height: 12px;
    top: 4px;
    left: 8px;
    background-color: #2cbbf7;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.score-counter__number {
    font-family: Heebo, Arial, sans-serif;
    font-size: 23px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.bottom-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 18vh;
    background: url(https://roadio-web-resources.s3-us-west-2.amazonaws.com/images/road.png) center no-repeat;
    background-size: cover;
}

.bottom-block::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 335%;
    top: -332px;
    left: 0;
    background: url(https://roadio-web-resources.s3-us-west-2.amazonaws.com/images/trees.png) 0 0 no-repeat;
    background-size: 97%;
    z-index: 100;
}

.main-block__wrapper {
    width: 100%;
    position: relative;
    z-index: 500;
}

.main-block__title {
    font-family: Heebo, Arial, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 43px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.words {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 5.5px 10% 5.5px 10% 5.5px 10% 5.5px 10% 5.5px 10% 5.5px 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
    -ms-grid-rows: 50% 5.5px 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 5.5px;
    grid-row-gap: 5.5px;
    margin-bottom: 30px;
    justify-content: space-around;
}

.words > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.words > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.words > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.words > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.words > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.words > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}

.words > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
}

.words > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.words > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.words > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.words > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.words > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
}

.words > *:nth-child(13) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
}

.words > *:nth-child(14) {
    -ms-grid-row: 3;
    -ms-grid-column: 13;
}

.words__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 2.6px;
    -webkit-box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.1), inset -1px -1px 3px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.1), inset -1px -1px 3px 2px rgba(0, 0, 0, 0.1);
    font-family: Heebo, Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #787878;
    text-transform: uppercase;
}

.words__box.hidden {
    visibility: hidden;
}

.words__box.active {
    background-color: #5db747;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.letters {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 5.5px 10% 5.5px 10% 5.5px 10% 5.5px 10% 5.5px 10% 5.5px 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
    -ms-grid-rows: 50% 5.5px 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 5.5px;
    grid-row-gap: 5.5px;
    justify-content: space-around;
}

.letters > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.letters > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.letters > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.letters > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.letters > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.letters > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}

.letters > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
}

.letters > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.letters > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.letters > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.letters > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.letters > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
}

.letters > *:nth-child(13) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
}

.letters > *:nth-child(14) {
    -ms-grid-row: 3;
    -ms-grid-column: 13;
}

.letters__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #5db747;
    border-radius: 2.6px;
    font-family: Heebo, Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.letters__box.disabled {
    background-color: transparent;
    color: #62cdf7;
    border: solid 0.9px #5db747;
}

@media screen and (max-width: 600px) {

    .bottom-block::after {
        top: -55vw;
    }

}

@media screen and (max-width: 500px) {

    .score-counter {
        width: 13.7vw;
        height: 13.7vw;
    }

    .score-counter__number {
        font-size: 4.2vw;
    }

    .main-block__title {
        font-size: 6vw;
        line-height: 1.08;
    }

    .words__box {
        width: 11vw;
        height: 10.5vw;
        font-size: 6vw;
    }

    .letters__box {
        width: 11vw;
        height: 10.5vw;
        font-size: 6vw;
    }

}

@media screen and (max-width: 414px) {

    .score-counter__plus {
        width: 18px;
        height: 18px;
    }

    .score-counter__plus div:first-child {
        width: 3.5px;
        height: 11px;
        top: 3px;
        left: 7px;
    }

    .score-counter__plus div:last-child {
        width: 3.5px;
        height: 11px;
        top: 3px;
        left: 7px;
    }

}

@media screen and (max-width: 375px) {

    .score-counter__plus {
        width: 16px;
        height: 16px;
    }

    .score-counter__plus div:first-child {
        width: 3px;
        height: 10px;
        top: 3px;
        left: 40%;
    }

    .score-counter__plus div:last-child {
        width: 3px;
        height: 10px;
        top: 3px;
        left: 40%;
    }
}

