html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main-block {
    width: 100%;
    height: 100%;
    padding: 17vh 20px 0 20px;
    background: linear-gradient(to top, #cff0f9, #2cbbf7 30%), url("../img/road.png") bottom no-repeat;
    position: relative;
}

.main-block::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 29%;
    left: 0;
    background: url(../img/letters.png) 0 0 no-repeat;
    background-size: 100%;
    z-index: 200;
}

.score-counter {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 30px;
    right: 30px;
    border: solid 6.8px #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-counter__plus {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -9px;
    left: -7px;
    background-color: #fff;
    border-radius: 50%;
}

.score-counter__plus div:first-child {
    position: absolute;
    width: 4px;
    height: 12px;
    top: 4px;
    left: 8px;
    background-color: #2cbbf7;
}

.score-counter__plus div:last-child {
    position: absolute;
    width: 4px;
    height: 12px;
    top: 4px;
    left: 8px;
    background-color: #2cbbf7;
    transform: rotate(90deg);
}

.score-counter__number {
    font-family: Heebo, Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.bottom-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background: url("../img/road.png") center no-repeat;
    background-size: cover;
}

.bottom-block::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 200%;
    top: -332px;
    left: 0;
    background: url(../img/trees.png) 0 0 no-repeat;
    background-size: 97%;
    z-index: 100;
}

.main-block__wrapper {
    width: 100%;
    position: relative;
    z-index: 500;
}

.main-block__title {
    font-family: Heebo, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 43px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.words {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 5.5px;
    grid-row-gap: 5.5px;
    margin-bottom: 40px;
    justify-content: space-around;
}

.words__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background-color: #fff;
    border-radius: 2.6px;
    box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.1), inset -1px -1px 3px 2px rgba(0, 0, 0, 0.1);
    font-family: Heebo, Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #787878;
    text-transform: uppercase;
}

.words__box.hidden {
    visibility: hidden;
}

.words__box.active {
    background-color: #5db747;
    color: #fff;
    box-shadow: none;
}

.letters {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 5.5px;
    grid-row-gap: 5.5px;
    justify-content: space-around;
}

.letters__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background-color: #5db747;
    border-radius: 2.6px;
    font-family: Heebo, Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.letters__box.disabled {
    background-color: transparent;
    color: #62cdf7;
    border: solid 0.9px #5db747;
}

@media screen and (max-width: 600px) {

    .bottom-block::after {
        top: -55vw;
    }

}

@media screen and (max-width: 500px) {

    .main-block {
        padding: 12vh 20px 0 20px;
    }

    .score-counter {
        width: 13.7vw;
        height: 13.7vw;
        top: 15px;
        right: 15px;
    }

    .score-counter__number {
        font-size: 4vw;
    }

    .main-block__title {
        font-size: 7vw;
        line-height: 1.08;
    }

    .words__box {
        width: 11vw;
        height: 10.5vw;
        font-size: 7vw;
    }

    .letters__box {
        width: 11vw;
        height: 10.5vw;
        font-size: 7vw;
    }

}

@media screen and (max-width: 414px) {

    .main-block {
        padding: 13vh 20px 0 20px;
    }

    .main-block__title {
        margin-bottom: 40px;
    }

    .score-counter {
        top: 10px;
        right: 10px;
        border: solid 4px #fff;
    }

    .score-counter__plus {
        width: 18px;
        height: 18px;
        top: -5px;
        left: -5px;
    }

    .score-counter__plus div:first-child {
        width: 3.5px;
        height: 11px;
        top: 3px;
        left: 7px;
    }

    .score-counter__plus div:last-child {
        width: 3.5px;
        height: 11px;
        top: 3px;
        left: 7px;
    }

}

@media screen and (max-width: 375px) {

    .score-counter__plus {
        width: 16px;
        height: 16px;
        top: -5px;
        left: -5px;
    }

    .score-counter__plus div:first-child {
        width: 3px;
        height: 10px;
        top: 3px;
        left: 40%;
    }

    .score-counter__plus div:last-child {
        width: 3px;
        height: 10px;
        top: 3px;
        left: 40%;
    }
}


